<html>
	<head>
		<title>Tweety</title>
		<style type="text/css">
		body{
			background-color: rgb(117, 161, 104);
			overflow-x: hidden;
			overflow-y: hidden;
		}

		.name
		{
			position: relative;
			top: -45px;
			left: 55px;
		}

		.screen_name{
			position: relative;
			left: 55px;
			top: -45px;
			color: white;
		}

		img{
			border-radius: 5px;
			margin-top: 6px;
			margin-left: 5px;
		}

		.maindiv{
			background-color: rgb(101, 114, 97);
			height: 60px;
			width: 250px;
			border-radius: 5px;
			margin-top: 10px;
		}

		.maindiv:hover{
			background-color: rgb(27, 31, 26);
		}

		a{
			text-decoration: none;
			color: white;
		}

		.ttop{
			position: relative;
			width: 1310px;
			left:30px;
			top:10px;
		}

		.tweet{
			position: relative;
		    top: -90px;
		    left: 190px;
		}
		</style>
	</head>
	<body>
		<div style="height:{{count*14}}px;" class="ttop">

		{% set i = 0 %}
		{% for user in follwer %}
		{% set j = i/5 %}
		{% set j = j|round(0, 'floor') %}
		<div class="maindiv" style="position: relative;left: {{(250*(i%5)) + 10*(i%5)}}px;bottom: {{70*(i%5) + 280*j}}px;">
			<img src="{{user.profile_image_url}}">
			<div class="name">
				<span>
					<a href="/msg?u={{ user.screen_name }}">{{ user.name }}</a>
				</span>
			</div>

			<div class="screen_name">
				<span>
					<a href="http://twitter.com/{{ user.screen_name }}">@{{ user.screen_name }}</a>
				</span>
			</div>

			<!-- <div class="tweet">
				<img src="https://g.twimg.com/Twitter_logo_blue.png" style="width: 50px;height: 40;">
			</div> -->
		</div>
		{% set i = i+1 %}
		{% endfor %}
		</div>
	</body>
</html>