<!DOCTYPE html>
<html>
<head>
	<title>Tweety</title>
	<style type="text/css">
		body{
			background-color: rgb(117, 161, 104);
			overflow-x: hidden;
			overflow-y: hidden;
		}

		.ioio{
			position: relative;
			left: 100px;
		}

		#foorm{
			position: relative;
			top: 100px;
		}
	</style>
</head>
<body>
<div class="ioio">
	<form action="/send" method="post" id="usrform">
	<input type="hidden" name="user" value="{{user}}">
	<input type="submit" value="send" name="submit" id="foorm">
	</form>
	<textarea form="usrform" rows="4" cols="50" name="msg"></textarea>
</div>
</body>
</html>